body {
  background-color: #fff;
  margin: 50px 300px 20px 50px;
  width: auto;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: -2px 0 #eee;
}

header, footer {
  color: #f0f0f0;
  background-color: steelblue;
  font-style: italic;
}

header {
  letter-spacing: 0.15rem;
  padding: 1.25rem;
}

footer {
  margin-top: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.075rem;
  padding: 0.625rem 1.25rem;
}

h1 {
  font-size: 220%;
  font-weight: normal;
  margin: 0;
}

ul {
  margin: 1.5em 0;
}

ul li {
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: #333;
}

a:visited {
  color: #333;
}
