/* simple-menubar.css */

div {
  --almost-white: #f3f3f3;
  --default-text-color: #00132c;
  --illini-blue: #13294b;
  --light-blue: #cad9ef;
  --illini-orange: #ff552e;
  --radius-default: 4px;
}

nav > div {
  display: grid;
  column-gap: 1rem;
  /* Number of repeats is now set dynamically with JS
  grid-template-columns: repeat(6, 1fr); */
  padding: .75rem 0;
}

nav > div > a {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--illini-blue);
  color: var(--almost-white);
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;

  border-radius: var(--radius-default);
  padding: calc(3px + 2px) calc(6px + 2px);
}

nav > div > a:hover,
nav > div > a[aria-current] {
  background-color: var(--light-blue);
  color: var(--default-text-color);
  outline: 1px solid var(--illini-blue);
  outline-offset: -1px;
}

nav > div > a:focus {
  background-color: var(--light-blue);
  color: var(--default-text-color);
  outline: 2px solid var(--illini-orange);
  outline-offset: -1px;
}
