@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('overlay.css');

header, h1, h2, h3, h4, div, p, ul, li, details, summary {
  margin: 0;
  padding: 0;
}

html {
  font-size: 13.5px;
  --almost-white: #f3f3f3;
  --border-values: 1px solid #ddd;
  --default-background: #e0e8f6;
  --default-color: #00132c;
  --illini-blue: #13294b;
  --link-color: #1d4b90;
  --link-highlight: #e0e8f6;
  --radius-default: 5px;
}

body {
  color: var(--default-color);
  background-color: var(--default-background);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  max-width: 60rem;
}

header {
  background-color: var(--illini-blue);
  padding-bottom: 0.5rem;
}

header h1 {
  color: var(--almost-white);
  padding: 1rem;
  border-bottom: .375rem solid var(--default-background);
}

h1, h2, h3, h4 {
  font-family: 'Gentium Book Basic', serif;
}

h2 {
  grid-column: 1;
  color: var(--almost-white);
  background-color: var(--illini-blue);
  padding: 0.375rem 1rem 0.25rem;
}

h3 {
  padding: 1rem 0;
}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 120%; }

details {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
}

details[open] {
  background-color: var(--almost-white);
}

details > summary {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  font-weight: bold;
  margin-left: -1rem;
}

details > p {
  margin-top: 1rem;
}

details > h3 + p {
  margin-top: 0;
}

div:not(.overlay) a, strong {
  color: var(--link-color);
}

div:not(.overlay) a:hover {
  color: var(--default-color);
  background-color: var(--link-highlight);
  outline: 0.125rem solid var(--link-highlight);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
}

/* Grid layout for section */

section {
  display: grid;
  grid-template-columns: 1fr 247px;
  margin-top: 1rem;
}

section.hidden {
  display: none;
}

section > div {
  grid-column: 1;
  background-color: white;
  border-right: var(--border-values);
  border-left: var(--border-values);
  padding: 1.5rem 1rem;
}

section:last-child div {
  border-bottom: var(--border-values);
}

section > div > p {
  margin-top: 1rem;
}

section > div > p:first-child {
  margin-top: 0;
}

section > div ol,
section > div ul {
  padding: 1rem 1rem 0;
}

section > div > details + p {
  margin-top: 0.5rem;
}

section > div > details p + ul {
  margin-top: 0.75rem;
}

section > figure {
  grid-column: 2;
  margin: 1.5rem 20px 0.5rem;
  text-align: center;
  width: 250px;
}

section > figure img {
  width: 200px;
}

section > figure figcaption {
  font-size: 87.5%;
  margin-top: 0.25rem;
}

section > figure a {
  cursor: zoom-in;
}

section > div.overlay a {
  cursor:  zoom-out;
}
