@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
@import url('overlay.css');

html {
  font-size: 16px;
  --almost-black: #090909;
  --almost-white: #f3f3f3;
  --border-values: 1px solid #ddd;
  --heading-color: #333;
  --link-color: #005282;
}

body {
  background-color: var(--almost-white);
  font-family: 'STIX Two Math', serif;
  margin: 0 8rem;
  padding: 2rem 0;
}

header {
  background: var(--almost-black);
  margin-bottom: 2rem;
  padding: 0.5rem 0;
}

header h1 {
  color: var(--almost-white);
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  padding: 0 1rem;
}

h2, h3, h4 {
  grid-column: 1 / 2;
  color: var(--heading-color);
  background-color: white;
  border-right: var(--border-values);
  border-left: var(--border-values);
  margin: 0;
}

h1 { font-size: 175%; }
h2 { font-size: 140%; }

p:first-child {
  margin-top: 0;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

/* Grid layout for section */

section {
  display: grid;
  grid-template-columns: 1fr 247px;
}

section > div {
  grid-column: 1;
  background-color: white;
  border-right: var(--border-values);
  border-left: var(--border-values);
  padding: 1rem;
}

section:first-child div {
  border-top: var(--border-values);
}

section:last-child div {
  border-bottom: var(--border-values);
}

section > figure {
  grid-column: 2;
  margin: 0 20px;
  text-align: center;
  width: 250px;
}

section > figure img {
  width: 200px;
}

section > figure figcaption {
  font-size: 87.5%;
  margin-top: 0.25rem;
}
